//

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

.myDiv {
    width: 99%;
    height: 90%;
    //border: 5px outset red;
    background-color: #D4F8F1;
    text-align: center;
  }
  .myDiv1 {
    position: relative;
    width: 70%;
    height: 60px;
    //border: 5px outset red;
    //background-color: lightblue;
    text-align: center;
  }
  .myDiv2 {
    position: absolute;
    top: 80px;
    //right: -110;
    left: 75%;
    width: 20%;
    height: 88%;
    //border: 3px solid #73AD21;
  }

  .myDiv3 {
    position: relative;
    //right: -110;
    width: 99%;
    height: 10%;
    background-color: #0EE0EE ;
    //border: 3px solid #73AD21;
  }