tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

.myDiv {
  width: 99%;
  height: 90%;
  background-color: #D4F8F1;
  text-align: center;
}

.myDiv1 {
  position: relative;
  width: 70%;
  height: 60px;
  text-align: center;
}

.myDiv2 {
  position: absolute;
  top: 80px;
  left: 75%;
  width: 20%;
  height: 88%;
}

.myDiv3 {
  position: relative;
  width: 99%;
  height: 10%;
  background-color: #0EE0EE;
}

