tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

.myDiv {
  width: 70%;
  height: 60px;
  text-align: center;
}

.myDiv1 {
  position: relative;
  width: 80%;
  height: 60px;
  text-align: center;
}

.myDiv2 {
  position: absolute;
  top: 0px;
  left: 75%;
  width: 20%;
  height: 90%;
}

